section
    .section__content.section__content--centred
        h1 Crafting Digital Experiences
        h4 Aran Bruce-Caddick
    .background--shapes-parent
        img.background-shape.floating1#background-shape-1(src=require("../images/crescentLarge.svg"), alt="crescent shape")
        img.background-shape.floating2#background-shape-2(src=require("../images/triangleSmall.svg"), alt="triangle shape")
        img.background-shape.floating3#background-shape-3(src=require("../images/rectangleLarge.svg"), alt="rectangle shape")
        img.background-shape.floating4#background-shape-4(src=require("../images/crescentSmall.svg"), alt="crescent shape")
        img.background-shape.floating2#background-shape-5(src=require("../images/circleLarge.svg"), alt="circle shape")
        img.background-shape.floating4#background-shape-6(src=require("../images/rectangleSmall.svg"), alt="rectangle shape")
        img.background-shape.floating1#background-shape-7(src=require("../images/circleSmall.svg"), alt="circle shape")
        img.background-shape.floating3#background-shape-8(src=require("../images/triangleLarge.svg"), alt="triangle shape")