section
    .sectionContent.centredSectionContent
        h1 Crafting Digital Experiences
        h4 Aran Bruce-Caddick
    .backgroundShapesParent
        img.backgroundShape.floating1#backgroundShape1(src=require("../images/crescentLarge.svg"), alt="crescent shape")
        img.backgroundShape.floating2#backgroundShape2(src=require("../images/triangleSmall.svg"), alt="triangle shape")
        img.backgroundShape.floating3#backgroundShape3(src=require("../images/rectangleLarge.svg"), alt="rectangle shape")
        img.backgroundShape.floating4#backgroundShape4(src=require("../images/crescentSmall.svg"), alt="crescent shape")
        img.backgroundShape.floating2#backgroundShape5(src=require("../images/circleLarge.svg"), alt="circle shape")
        img.backgroundShape.floating4#backgroundShape6(src=require("../images/rectangleSmall.svg"), alt="rectangle shape")
        img.backgroundShape.floating1#backgroundShape7(src=require("../images/circleSmall.svg"), alt="circle shape")
        img.backgroundShape.floating3#backgroundShape8(src=require("../images/triangleLarge.svg"), alt="triangle shape")